<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VinaAndVidai</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/helper.css">
 <!-- jQuery library -->
 <!-- Popper JS -->
 <!--<link href="css/signhelp.css" rel="stylesheet" type="text/css" media="all" />
  //Custom Theme files -->
 <!-- Latest compiled JavaScript !-->
  </head>
  <body>
    <img src="Images/bg2.jpg" alt="Loading" style="width:100%;height:100px">
    <div class="container-fluid">
      <div class="row">
      <div class = "col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-black bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">VinaAndVidai</a>
      </div>
      <ul class="nav navbar-nav display-4">
        <li method="get" action="/home"><a href="/home">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li ><a class="nav-link-active border" href="#" >Ask A Question</a></li>
      </ul>
      <form class="navbar-form navbar-left" >
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>
</div>
  <div class="form-group col-lg-8" >
<p style="font-size:large;">Ask a Question:</p>
<form class="" method="post" action="/ask" id="ask">
    <textarea align="center" name="Quest" rows="5" cols="107" style="font-size:large" ></textarea>
<div class="col-lg-4">

</div>
  <div class="col-lg-4">

  </div>
  <div class="col-lg-offset-10">

        <button  class="btn btn-success btn-block " style="padding:10px;font-size:large" align="right" type="submit">
          Submit
        </button>

  </div>
</form>
</div>
  </div>
    </div>
  </body>
</html>
