<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VinaAndVidai</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/helper.css">
 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <!-- Popper JS -->
 <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <link href="css/signhelp.css" rel="stylesheet" type="text/css" media="all" />
 !--><!-- //Custom Theme files -->
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</style>
  </head>
  <body>
    <img src="Images/bg2.jpg" alt="Loading" style="width:100%;height:100px">
    <div class="container-fluid">
      <div class="row">
      <div class = "col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-black bg-light display-4" style="font-color:white">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">VinaAndVidai</a>
      </div>
      <ul class="nav navbar-nav">
        <li class=" nav-item active border"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="ask.html">Ask a Question</a></li>
      </ul>
      <form class="navbar-form navbar-left" >
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>
  </div>
  <div class="col-lg-12">
    <p style="font-size:large;"><b>Q1.</b>Input field blur event not get triggering while set display none for parent element in firefox?
</p>
<div class="form-group col-lg-8" >
<p style="font-size:large;">Answer:</p>
<form class=""   id="ask">
  <textarea align="center" name="Quest" rows="5" cols="107" style="font-size:large" ></textarea>
<div class="col-lg-4">

</div>
<div class="col-lg-4">

</div>
<div class="col-lg-offset-10">

      <button  class="btn btn-success btn-block " style="padding:10px;font-size:large" align="right" type="submit">
        Submit
      </button>

</div>
</form>
</div>
</div>
<br>
<br>
<p style="font-size:large;"><b>Q2.</b>
Spring boot 2 : ConverterNotFoundException: No converter found capable of converting from type [java.time.ZonedDateTime] to type [java.util.Date]?
</p>
<div class="form-group col-lg-8" >
<p style="font-size:large;">Answer:</p>
<form class=""  id="ask">
  <textarea align="center" name="Quest" rows="5" cols="107" style="font-size:large" ></textarea>
<div class="col-lg-4">

</div>
<div class="col-lg-4">

</div>
<div class="col-lg-offset-10">

      <button  class="btn btn-success btn-block " style="padding:10px;font-size:large" align="right" type="submit">
        Submit
      </button>

</div>
</form>
</div>
</div>
<br>
<br>
<p style="font-size:large;"><b>Q3.</b>
  Is there a way to detect a div with a specific class and move the top scrollbar to it's position inside parent div?
</p>
<div class="form-group col-lg-8" >
<p style="font-size:large;">Answer:</p>
<form class="" action="/ask.html" method="post" id="ask">
  <textarea align="center" name="Quest" rows="5" cols="107" style="font-size:large" ></textarea>
<div class="col-lg-4">

</div>
<div class="col-lg-4">

</div>
<div class="col-lg-offset-10">

      <button  class="btn btn-success btn-block " style="padding:10px;font-size:large" align="right" type="submit">
        Submit
      </button>

</div>
</form>
</div>
</div>
<br>
<br>
<p style="font-size:large;"><b>Q4.</b>

How to transfer 2 different data from fragment and send it simultaneously to different fragment by using buttonclick and bundle?
</p>
<div class="form-group col-lg-8" >
<p style="font-size:large;">Anwer:</p>
<form class="" action="/ask.html" method="post" id="ask">
  <textarea align="center" name="Quest" rows="5" cols="107" style="font-size:large" ></textarea>
<div class="col-lg-4">

</div>
<div class="col-lg-4">

</div>
<div class="col-lg-offset-10">

      <button  class="btn btn-success btn-block " style="padding:10px;font-size:large" align="right" type="submit">
        Submit
      </button>

</div>
</form>
</div>
</div>
<br>
<br>
<div class="col-lg-12">
<p style="font-size:large;"><b>Q5.</b>
  When using SparkStreaming to consume Apache Kafka topic with directstream, the key of data in KafkaStream is null, why?
</p>
</div>
<div class="form-group col-lg-8" >
<p style="font-size:large;">Answer:</p>
<form class="" action="/ask.html" method="post" id="ask">
  <textarea align="center" name="Quest" rows="5" cols="107" style="font-size:large" ></textarea>
<div class="col-lg-4">

</div>
<div class="col-lg-4">

</div>
<div class="col-lg-offset-10">

      <button  class="btn btn-success btn-block " style="padding:10px;font-size:large" align="right" type="submit">
        Submit
      </button>

</div>
</form>
</div>
</div>
<br>
<br>
<div class="col-lg-12">
<p style="font-size:large;"><b>Q6.</b>
  Is there any way to implement Google actions on your own local Machine Learning Model?
</p>
</div>
<div class="form-group col-lg-8" >
<p style="font-size:large;">Answer:</p>
<form class="" action="/ask.html" method="post" id="ask">
  <textarea align="center" name="Quest" rows="5" cols="107" style="font-size:large" ></textarea>
<div class="col-lg-4">

</div>
<div class="col-lg-4">

</div>
<div class="col-lg-offset-10">

      <button  class="btn btn-success btn-block " style="padding:10px;font-size:large" align="right" type="submit">
        Submit
      </button>

</div>
</form>
</div>
</div>
<br>
<br>
<div class="col-lg-12">
<p style="font-size:large;"><b>Q7.</b>
.NET: HttpClient object seems to ignore certificate authority for server certificate validation: Do I miss something?
</p>
</div>
  </div>
      </div>
    </div>
  </body>
</html>
